<template>
  <div class="home" v-if="content">
    <TopBanner :content="content.about.slider" />
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld :msg="content.about.msg"/>
  </div>
</template>

<script>
// @ is an alias to /src
import getJSON from '@hectic-devs/vue-components/sfc/utils/fetch';
import TopBanner from '@/components/TopBanner.vue';
import HelloWorld from '@/components/HelloWorld.vue';

export default {
  name: 'home',
  components: {
    HelloWorld,
    TopBanner,
  },
  data: () => ({
    content_data: [],
  }),
  computed: {
    content() {
      return this.content_data[0];
    },
  },
  mounted() {
    getJSON('content').then((json) => {
      this.content_data = json;
    });
  },
};
</script>
