<template>
  <div class="home" v-if="content">
    <TopBanner :content="content.home.slider" />
    <Split :SplitData="content.home.split" />
  </div>
</template>

<script>
// @ is an alias to /src
import getJSON from '@hectic-devs/vue-components/sfc/utils/fetch';
import TopBanner from '@/components/TopBanner.vue';
import Split from '@/components/Split.vue';

export default {
  name: 'home',
  components: {
    TopBanner,
    Split,
  },
  data: () => ({
    content_data: [],
  }),
  computed: {
    content() {
      return this.content_data[0];
    },
  },
  mounted() {
    getJSON('content').then((json) => {
      this.content_data = json;
    });
  },
};
</script>
