<template>
    <div class="TopNav" v-if="NavData.length > 1 ">
      <div class="restriced_width">
        <Picture v-if="NavLogo"
          :image="NavLogo"
        />
        <div class="links">
          <a v-for="(link, key) in NavData" :key="key" :href="NavData[key].link">
            {{NavData[key].text}}
          </a>
        </div>
      </div>
    </div>
</template>

<script>
import Picture from '@hectic-devs/vue-components/sfc/Picture.vue';

export default {
  name: 'Navigation',
  components: {
    Picture,
  },
  provide: {
    name: 'Navigation',
  },
  props: {
    NavLogo: {
      type: [Object, String],
      default: '',
    },
    NavData: {
      type: Array,
      default: () => [],
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../scss/varibles.scss';
.TopNav {
  display: flex;
  justify-content: space-between;
  background: $light-background;
  padding: 2rem 0;
  .restriced_width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    picture {
      max-width: 20%;
    }
    .links {
      width: 80%;
      display: flex;
      justify-content: flex-end;
      a {
        margin: 0 1rem;
        text-transform: uppercase;
        font-size: 1.1rem;
        color: #000;
        @media screen and (max-width: 800px) {
          font-size: .9rem;
          font-weight: 400;
        }
      }
    }
  }
}
</style>
