<template>
    <!--eslint-disable-next-line-->
    <div class="parallax" v-if="image" :style="`background-image: url(${image}); height:${height}px;`">
      <h1>{{header}}</h1>
    </div>
</template>

<script>
export default {
  name: 'Parallax-Banner',

  provide: {
    name: 'Parallax-Banner',
  },
  props: {
    image: {
      type: String,
      default: '',
    },
    height: {
      type: Number,
      default: 500,
    },
    header: {
      type: String,
      default: '',
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../scss/varibles.scss';
.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Center The Text */
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      text-shadow: 2px 2px 5px #000000a3;
      color: $text-color;
    }
}
</style>
