<template>
    <div class="split-con" v-if="SplitData.length > 1">
        <div class="split" v-for="(split, key) in SplitData" :key="key">
          <div>
            <Picture
              :image="SplitData[key].image"
            />
            <TextDisplay
              :headline="SplitData[key].header"
              :subtext="SplitData[key].copy"
              :datacta="SplitData[key].cta"
              :dataurl="SplitData[key].url"
            />
          </div>
        </div>
    </div>
</template>

<script>
import Picture from '@hectic-devs/vue-components/sfc/Picture.vue';
import TextDisplay from '@hectic-devs/vue-components/sfc/TextDisplay.vue';

export default {
  name: 'Split',
  components: {
    Picture,
    TextDisplay,
  },
  provide: {
    name: 'Split',
  },
  props: {
    SplitData: {
      type: Array,
      default: () => [],
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../scss/varibles.scss';
.split-con {
  display: flex;
  justify-content: space-between;
  background: $light-background;
    .split {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: calc(50% - 1rem);
      padding: 0;
      &:not(:last-child){
        padding: 0 2rem;
      }
      div{width: 100%;}
      picture {
        width: 100%;
        img {
          width:100%;
          margin: 0 auto;
        }
      }
      .c-text__headline {
        font-size: 2.2rem;
        font-weight: 600;
        margin-bottom: 2rem;
        color: #333332;
        text-align: left;
        @media (max-width: 1024px) {
          font-size: 1.9rem;
          margin-bottom: 1rem;
        }
      }
      .c-text__subtext {
        font-size: 1.5rem;
        font-weight: 500;
        color: #666b6e;
        text-align: left;
        @media (max-width: 1024px) {
          font-size: 1.2rem;
        }
      }
      .c-text__cta {
        margin-top: 2rem;
        align-items: end;
        max-width: 160px;
        @media (max-width: 1024px) {
          margin-top: 1rem;
        }
        a {
          display: block;
          padding: .9rem 0;
          border-radius: 40px;
          border: solid 1px #000;
          color: #333332;
          transition: all .5s;
          &:hover {
            background: #000;
            color: #fff;
            border-color: #fff;
          }
        }
      }
    }
}
</style>
