<template>
<div class="topbanner" >
      <Carousel
        :slides="content" v-if="content.length > 1"
        :options="topbannerSwiperoptions" >
        <div slot-scope="{ slide }" >
          <Card
            v-bind="slide" :class="slide.class"
          />
        </div>
      </Carousel>
      <Card v-else v-bind="content"></Card>
</div>
</template>

<script>
import Carousel from '@hectic-devs/vue-components/sfc/Carousel.vue';
import Card from '@hectic-devs/vue-components/sfc/Card.vue';

export default {
  name: 'Topbanner',

  provide: {
    name: 'top-sliding-banner',
  },

  components: {
    Carousel,
    Card,
  },
  props: {
    content: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      topbannerSwiperoptions: {
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      },
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.topbanner {
  .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M67%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto;
  }
  .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto;
  }
  .card {
    position: relative;
    .spot {
      width: 100%;
      img {
        width: 100%;
      }
      .c-text {
        position: absolute;
        top: 20%;
        display: flex;
        flex-wrap: nowrap;
        width: 40%;
        justify-content: start;
        color: #fff;
        .c-text__headline {
          font-size: 1.2rem;
          font-weight: 700;
          text-align: left;
        }
        .c-text__subtext {
          text-align: left;
        }
      }
    }
  }
  .carousel {
    padding-bottom: 45.4%;
    overflow: hidden;
    height: 0;
    position: relative;
    background-color: gainsboro;
    @media (max-width:767px){
      padding-bottom: 82%;
    }
  }
  .swiper-pagination.swiper-pagination-bullets {
      bottom: 5%;
      max-width: 1200px;
      left: 50%;
      margin-left: -600px;
      text-align: left;
    @media screen and (min-width: 700px) {
      bottom: 13%;
      max-width: 600px;
      left: 50%;
      margin-left: -300px;
    }
    @media screen and (min-width: 800px) {
      bottom: 13%;
      max-width: 700px;
      left: 50%;
      margin-left: -350px;
      text-align: left;
    }
    @media screen and (min-width: 1024px) {
      bottom: 11%;
      max-width: 900px;
      left: 50%;
      margin-left: -450px;
    }
    @media screen and (min-width: 1440px) {
      bottom: 7%;
      max-width: 1200px;
      left: 50%;
      margin-left: -600px;
    }
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      background: #ffffff00;
      border: solid #fff 1px;
      opacity: 1;
      @media screen and (min-width: 800px) {
        width: 15px;
        height: 15px;
      }
      @media screen and (min-width: 1025px) {
        width: 20px;
        height: 20px;
      }
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      opacity: 1;
      background-color: #fff;
    }
  }

  .cta-container {
      position: absolute;
      bottom: 5%;
      padding: 2rem 0;
      text-align: center;
      @media screen and (min-width: 700px) {
        bottom: 20%;
        left: 50%;
        margin-left: -300px;
      }
      @media screen and (min-width: 800px) {
        text-align: left;
        bottom: 20%;
        left: 50%;
        margin-left: -350px;
      }
      @media screen and (min-width: 1024px) {
        text-align: left;
        bottom: 20%;
        left: 50%;
        margin-left: -450px;
      }
      @media screen and (min-width: 1440px) {
        text-align: left;
        bottom: 20%;
        left: 50%;
        margin-left: -600px;
      }
      .cta {
        background-color: #fff;
        color: #000;
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem 2rem;
        @media screen and (min-width: 1025px) {
        padding: .9rem 2rem;
        font-size: 1.5rem;
        font-weight: 400;
        }
      }
    }

 .swiper-slide {
  .card {
    position: relative;
    max-width: 100%;

    .spot {
      width: 100%;
      picture {
        display: block;
        height: 0;
        overflow: hidden;
        padding-top: 45.4%;
        position: relative;
        @media (max-width:767px) {
          padding-bottom: 59%;
        }

        img {
          display: block;
          height: auto;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }

    .c-text{
      position: absolute;
      top: 40%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-wrap: wrap;
      font-size: 2.2rem;
      color: #fff;
      font-weight: bold;

      @media screen and (min-width: 700px) {
        top: 40%;
        transform: translate(0,-50%);
        font-size: 3rem;
      }
      @media screen and (min-width: 1025px) {
        font-size: 1.5rem;
      }
      @media screen and (min-width: 1440px) {
        width: 30%;
      }
      .c-text__headline {
        width: 100%;
        font-size: 1.5rem;
        color: #fff;
        margin-bottom: 1rem;
        font-weight: bold;
        @media screen and (min-width: 800px) {
          font-size: 1.9rem;
        }
        @media screen and (min-width: 1025px) {
          font-size: 2.8rem;
        }
      }

      .c-text__subtext {
        font-size: .7rem;
        color: #fff;
        font-weight: normal;
        @media screen and (min-width: 800px) {
          font-size: 1rem;
        }
        @media screen and (min-width: 1024px) {
          font-size: 1rem;
        }
      }

      /* display: flex;
      justify-content: center;
      align-items: left;
      height: 100%;
      width: 100% */
    }

    .cta-container {
      position: absolute;
      bottom: 15%;
      text-align: center;

      @media screen and (min-width: 800px) {
        text-align: left;
        bottom: 20%;
        left: 50%;
        margin-left: -350px;
      }
      @media screen and (min-width: 1024px) {
        text-align: left;
        bottom: 20%;
        left: 50%;
        margin-left: -450px;
      }
      @media screen and (min-width: 1440px) {
        text-align: left;
        bottom: 20%;
        left: 50%;
        margin-left: -600px;
      }
      .cta {
        background-color: #333332;
        color: #fff;
        border-radius: 40px;
        font-size: .6rem;
        font-weight: 400;
        padding: 1rem 2rem;
        transition: all .5s;
        @media screen and (min-width: 700px) {
          padding: .7rem 1.3rem;
          font-size: .9rem;
          font-weight: 400;
        }
        @media screen and (min-width: 800px) {
          padding: .7rem 1.3rem;
          font-size: .9rem;
          font-weight: 400;
        }
        @media screen and (min-width: 1024px) {
          padding: .9rem 2rem;
          font-size: 1rem;
          font-weight: 400;
        }
        @media screen and (min-width: 1440px) {
          padding: .9rem 2rem;
          font-size: 1rem;
          font-weight: 400;
        }
        &:hover{
          background-color: #616160;
          color: #ffffff;
        }
      }
    }
  }
  .card.navCenter {
    .cta-container {
    text-align: center;
    left: 1%;
    right: 1%;
    }
  }
 }
}
</style>
