<template>
  <div id="app">
    <Navigation v-if="content"
      :NavLogo="content.nav_logo"
      :NavData="content.nav_links"
    />
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->
    <router-view/>
  </div>
</template>

<script>
// @ is an alias to /src
import getJSON from '@hectic-devs/vue-components/sfc/utils/fetch';
import Navigation from '@/components/Navigation.vue';

export default {
  name: 'App',
  components: {
    Navigation,
  },
  data: () => ({
    content_data: [],
  }),
  computed: {
    content() {
      return this.content_data[0];
    },
  },
  mounted() {
    getJSON('content').then((json) => {
      this.content_data = json;
    });
  },
};
</script>

<style lang="scss">
@import "./scss/main.scss";
</style>
