@import 'varibles.scss';
body {
  background: $light-background;
  margin: 0;
  padding: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $light-text-color;
}

.restriced_width {
  max-width: $container-width;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  @media(max-width: 767px) {
    width: 90%;
    margin: 0 auto;
  }
  @media screen and (min-width: 700px) {
    max-width: 600px;
  }
  @media screen and (min-width: 800px) {
    max-width: 700px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 900px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1200px;
  }
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: $link-color;
  text-decoration: none;
}
