/* Variables */
$container-width: 1200px;

/* Dark Background Styling */
$main-bg-color: #222;
$text-color: #fff;
$link-color: #51748e;
$active-link-color: #42b983;

/* Light Background Styling */
$light-background: #fff;
$light-text-color: #222;